ion-content {
  display: flex;
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  height: 100%; /* Asegura que ocupe toda la altura de la pantalla */
}

form {
  width: 100%;
  max-width: 400px; 
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 10px;
}

small {
  color: red;
}
