<ion-content>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <!-- ion-menu-button con un icono personalizado -->
        <ion-menu-button autoHide="false">
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-menu-button>
      </ion-buttons>
      <ion-title>
        admin
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Lista de Usuarios</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <table class="custom-table">
        <thead>
          <tr>
           
            <th>Correo</th>
            <th>Contraseña</th>
            <th>Acciones</th> <!-- Columna para los botones -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of arra">
           
            <td>{{ item.correo }}</td>
            <td>{{ item['contraseña'] }}</td>
            <td>
              <!-- Botón para editar -->
              <ion-button color="primary" fill="clear" >
                <ion-icon name="create-outline"></ion-icon> 
              </ion-button>

             

              <ion-button color="danger" fill="clear" (click)="showConfirmationAlert(item.id)">
                <ion-icon name="close-circle-outline"  >jaja</ion-icon> 
              </ion-button>
            </td>
          </tr>
        </tbody>
      </table>
    </ion-card-content>
  </ion-card>
  <h1>id == {{id}}</h1>
</ion-content>
